section.case-study {
  padding: 80px 0 0;
  position: relative;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  @media #{$sm} {
    padding: 40px 0;
  }
  .title-section {
    margin-bottom: 8px;
    @media #{$sm} {
      text-align: center;
    }
  }
  &:after {
    content: "";
    position: absolute;
    z-index: -2;
    bottom: 80px;
    width: 100%;
    height: 40%;
    background-image: url(../img/dots.png);
  }
  .container {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0%;
      right: 60px;
      width: calc(100% - 60px);
      height: 100%;
      background-color: #f5f5f5;
      clip-path: polygon(26% 0, 100% 0, 100% 100%, 100% 100%);
      @media #{$md} {
        right: -15px;
        height: 60%;
        top: 2%;
      }
      @media #{$sm} {
        right: -15px;
        height: 20%;
        clip-path: polygon(57% 0, 100% 0, 100% 100%, 100% 100%);
      }
    }
  }
  .ornament {
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -25px;
      right: 0px;
      // transform: translate(0, -50%);
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-right: 46px solid #7a6dc7;
      border-bottom: 47px solid transparent;
      display: block;
      @media #{$sm} {
        // top: 10%;
        // width: 0;
        // height: 0;
        border-top: 20px solid transparent;
        border-right: 26px solid #7a6dc7;
        border-bottom: 20px solid transparent;
      }
    }
  }
  .case {
    .wrap-case {
      display: flex;
      flex-wrap: wrap;
      // align-items: center;
      .header {
        text-align: left;
        width: calc(100% + 48%);
        transform: translateX(-20%);
        position: relative;
        right: 0;
        margin-bottom: 56px;
        @media #{$md} {
          width: 100%;
          transform: translateX(0);
        }

        h3 {
          font-size: 31px;
          font-weight: 900;
          text-transform: uppercase;
          letter-spacing: 3px;
          color: #004e9d;
          margin: 0;
          padding: 0;
          margin-bottom: 30px;
        }
      }
      .left {
        width: 57%;
        padding: 0 30px;
        @media #{$xlg} {
          width: 50%;
        }
        @media #{$md} {
          padding: 0 15px;
          width: 100%;
          order: 1;
        }
        img {
          width: 100%;
          height: auto;
          margin-top: 100px;
           @media #{$md} {
               height: auto;
              max-width: 50%;
              margin-bottom: 50px;
              margin-top: 0px;
           }
          @media #{$sm} {
            margin-bottom: 20px;
            max-width: 60%;
          }
        }
      }
      .right {
        padding: 40px;
        width: 40%;
        padding-bottom: 200px;
        @media #{$xlg} {
          width: 50%;
        }
        @media #{$md} {
          padding-bottom: 0px;
          margin-bottom: 0;
          order: 2;
          padding: 0;
          width: 100%;
        }
        p {
           font-size: 21px;
          letter-spacing: 2px;
          line-height: 35px;
          @media #{$xlg} {
            font-size: 18px;
          }
        }
        .btn{
          margin-top: 50px;
        }
      }
    }
  }
}
