#kontakt {
  padding-top: 80px;
}
#footer {
  position: relative;
  z-index: 2;
  padding: 100px 0 92px 0;
  background: rgb(0, 78, 157);
  background: linear-gradient(97deg, rgba(0, 78, 157, 1) 0%, rgba(112, 90, 197, 1) 83%);
  @media #{$md} {
    padding: 50px 0;
  }
}
.left-right {
  @media #{$md} {
    flex-wrap: wrap;
  }
}
.left {
  @media #{$lg} {
    width: 30%;
  }
  @media #{$md} {
    order: 2;
    width: 100%;
  }
  .row-flex {
    @media #{$lg} {
      flex-wrap: wrap;
    }
    .col-2 {
      @media #{$lg} {
        width: 100%;
      }
      @media #{$md} {
        width: 50%;
      }
      @media #{$sm} {
        width: 100%;
      }
    }
  }
}
.right {
  @media #{$lg} {
    width: 70%;
  }
  @media #{$md} {
    order: 1;
    width: 100%;
    margin-bottom: 50px;
  }
}
.wrap-footer-inf {
  padding-left: 50px;
  border-left: 1px solid $main2;
  height: 100%;
  .footer-info {
    font-size: 21px;
    line-height: 50px;
    letter-spacing: 2px;
    margin: 0;
    color: #fff;
  }
}

#kontakt {
  // padding-top: 80px;
  // margin-top: -100px;
  // margin-top: -50px;
}
