.row-form {
  display: flex;
  flex-wrap: wrap;
  .col-2 {
    width: 50%;
    @media #{$sm} {
      width: 100%;
    }
  }
  .col-1 {
    width: 100%;
  }
}

.group-form {
  padding: 0 15px;
  width: 100%;
  margin-bottom: 23px;
  @media #{$sm} {
    padding: 0;
  }
  .form-control {
    width: 100%;
    padding: 10px 27px;
    font-size: 21px;
    letter-spacing: 3px;
    border: none;
  }
  textarea {
    height: 165px;
  }
}
.accept {
  color: #fff !important;
  font-size: 14px;
}
.btn-form {
  position: relative;
  @media #{$sm} {
    width: 100%;
    display: block;
  }
  .wpcf7-submit {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 21px 56px;
    color: $main;
    border: none;
    background-color: $main3;
    @media #{$sm} {
      width: 100%;
      display: block;
    }
  }
  .wpcf7-spinner {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0px, -100%);
  }
}
.wpcf7 form .wpcf7-response-output {
  margin: 2em 0.5em 1em;
  padding: 15px;
  border: 2px solid #00a0d2 !important;
  color: #fff !important;
}
.wpcf7-not-valid-tip {
  position: absolute;
}
