html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Futura PT';
  font-weight: 500;
  overflow-x: hidden;
}


.container{
  // max-width: 1524px;
  // max-width: 80%;
  width: calc(100% - 10%);
  margin: 0 auto;
  @media #{$sm} {
    width: calc(100% - 30px);
  }
}

.row{
  padding: 0 60px;
  @media #{$md} {
    padding: 0;
  }
  @media #{$sm} {
    padding: 0;
  }

}
.row-flex{
  display: flex;
}
.col-2{
  width: 50%;
}