html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Futura PT";
  font-weight: 500;
  overflow-x: hidden;
}

.page-template-landing-page {
  padding-top: 0px !important;
}
body {
  padding-top: 92px;
}
.container {
  max-width: 1584px;
  width: 100%;
  margin: 0 auto;
  @media #{$sm} {
    width: calc(100% - 30px);
  }
}

.row {
  padding: 0 60px;
  @media #{$md} {
    padding: 15px;
  }
}
.row-left {
  padding-left: 60px;
  @media #{$md} {
    padding-left: 15px;
  }
  @media #{$sm} {
    padding: 0px;
  }
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
}
.no-flex {
  flex-wrap: inherit;
  @media #{$sm} {
    flex-wrap: wrap;
  }
}
.col-f-auto {
  flex: auto;
}
.col-1 {
  width: 100%;
}
.col-2 {
  width: 50%;
  @media #{$sm} {
    width: 100%;
  }
}
.col-4 {
  width: 33.333%;
  @media #{$lg} {
    width: 50%;
  }
  @media #{$sm} {
    width: 100%;
  }
}

#go-to-top {
  position: fixed;
  z-index: 2222222;
  right: 30px;
  bottom: 100px;
  -webkit-transform: translate(110px, -50%);
  transform: translate(110px, -50%);
  border: 1px solid $main;
  width: 28px;
  height: 28px;
  // border-radius: 100%;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  @media #{$sm} {
    right: 10px;
    bottom: 100px;
  }
  &:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 5px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid $main;
    cursor: pointer;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
}
.go-to-to-active {
  -webkit-transform: translate(-10px, -50%) !important;
  transform: translate(-10px, -50%) !important;
}

@keyframes float3 {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translate(-40px, -45px);
  }
  50% {
    transform: translate(0px, -70px);
  }
  75% {
    transform: translate(-30px, -45px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-20px);
  }
}
