#header {
  transition: all 0.3s;
  padding: 15px 0;
  position: fixed;
  top: 0px;
  z-index: 99;
  background: #fff;
  width: 100%;

  @media #{$md} {
    padding: 15px;
  }
  @media #{$sm} {
    padding: 15px 0;
  }
}

#header.active {
  padding: 10px 0;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
  @media #{$sm} {
    padding: 0;
  }
  .nav-brand {
    svg {
      width: 65px;
      height: 35px;
    }
  }
  .header-nav ul li a {
    padding: 10px 15px;
    display: block;
    font-size: 16px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  .nav-brand {
    flex: auto;
    svg {
      transition: all 0.3s;
    }
  }
  .header-nav {
    transition: all 0.4s;
    @media #{$sm} {
      position: fixed;
      z-index: 99;
      top: 0px;
      left: -120%;
      width: 80%;
      height: 100vh;
      background: $main;
      left: -120%;
    }
    ul {
      padding: 0px;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      @media #{$sm} {
        flex-wrap: wrap;
      }
      li {
        @media #{$sm} {
          width: 100%;
        }
        a {
          transition: all 0.3s;
          padding: 10px 25px;
          display: block;
          font-size: 22px;
          text-transform: uppercase;
          text-decoration: none;
          @media #{$md} {
            padding: 10px;
            font-size: 18px;
          }
          @media #{$sm} {
            display: block;
            font-size: 21px !important;
            color: #fff;
            padding: 15px 15px;
          }
        }
        a.active,
        a:visited {
          color: $main2 !important;
        }
        a:focus,
        a:focus-visible {
          color: $main2 !important;
        }
      }
    }
  }
  .header-nav.active {
    left: 0px;
  }
}

.toggler-nav {
  cursor: pointer;
  display: none;
  @media #{$sm} {
    display: block;
  }
  span {
    background-color: $main;
    display: block;
    width: 28px;
    height: 4px;
    margin-bottom: 7px;
    border-radius: 2px;
    position: relative;
    top: 0;
    // transition: top .3s 0s, transform .3s .3s;
    transition: top 0.3s 0.3s, transform 0.3s 0s;
  }
}
.toggler-nav.active {
  span:nth-child(1) {
    top: 11px;
    transform: rotate(-45deg);
    transition: top 0.3s 0s, transform 0.3s 0.3s;
  }
  span:nth-child(2) {
    opacity: 0;
    transition: opacity 0.3s;
  }
  span:nth-child(3) {
    top: -11px;
    transform: rotate(45deg);
    transition: top 0.3s 0s, transform 0.3s 0.3s;
  }
}
// title
.title-page-wraper {
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 30px 0;
  position: relative;
  background-color: aliceblue;
  text-align: center;
  .title-page {
    margin: 0;
    padding: 0px;
    font-size: 45px;
    font-weight: 900;
    color: $main2;
  }
}
