section.oferta {
  position: relative;
  z-index: 4;

  padding: 40px 0 40px;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  @media #{$sm} {
    padding: 40px 0;
  }
  &:after {
    content: "";
    position: absolute;
    z-index: -2;
    bottom: 0;
    width: 100%;
    height: 70%;
    background-image: url(../img/dots.png);
  }
  .title-section {
    margin-bottom: 20px;
    @media #{$sm} {
      text-align: center;
    }
  }
  .card-oferta {
    padding: 15px;
    height: 100%;
    @media #{$sm} {
      padding: 0px;
    }
    &:hover {
      h2 {
        color: $main2;
        transition: all 0.5s;
      }
      .content {
        background-color: #fff;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.12);
      }
      .cta {
        a {
          background-color: $main2;
          span {
            margin-left: 20px;
          }
        }
      }
    }
    header {
      h2 {
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $main;
        margin: 0;
        padding: 30px 0;
        background-color: #fff;
        @media #{$xlg} {
          font-size: 21px;
        }
      }
    }
    .content {
      background-color: #f5f5f5;
      transition: all 0.3s;
      .img {
        a {
          overflow: hidden;
          display: block;
        }
        img {
          transition: all 0.5s;
          width: calc(100% - 30px);
          transform-origin: center left;
          height: auto;
        }
      }
      p {
        padding: 30px 30px 60px;
        margin-top: 0;
        margin: 0;
        font-size: 21px;
        letter-spacing: 2px;
        line-height: 35px;
        @media #{$xlg} {
          font-size: 18px!important;
          line-height: 26px;
        }
      }
    }
    .cta {
      display: flex;
      justify-content: end;
      a {
        transform: translate(0, -50%);
        span {
          transition: all 0.3s;
        }
      }
    }
  }
}
