.meta-group {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    span {
      padding: 5px;
    }
    ul {
      padding: 0;
      list-style: none;
      li {
        a {
          // padding: 10px;
        }
      }
    }
  }
}

.entry-content {
  max-width: 750px;
  margin: 0 auto;
}
