section.slider {
  // overflow: hidden;
  height: 108vh;
  min-height: 750px;
  background-color: #004e9d;
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  @media #{$xlg} {
    height: 90vh;
    min-height: 750px;
  }
  @media #{$lg} {
    background-size: cover !important;
  }
  @media #{$sm} {
    height: 70vh;
    background-position: 58% center;
  }
   .tringle{
      position: absolute;
      max-width: 70%;
       top: 18%;
        @media #{$md} {
          top: 160px;
          height: auto;
        }
       @media #{$md} {
        max-width: 100%;
        width: 80%;
        height: auto;
        top:11%;
        left: 0;
       }
    }
  .content-wraper {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    padding-left: 60px;
    z-index: 2;
    @media #{$sm} {
      padding-left: 30px;
    }
    @media #{$xs} {
      padding-left: 0;
    }
   
    .content {
     z-index: 2;
     position: relative;
      h1 {
        font-size: 80px;
        font-size: 4.3vw;
        line-height: 81px;
        line-height: 4.3vw;
        color: #fff;
        margin: 0;
        padding: 0;
        margin-bottom: 25px;
        padding-top: 48px;
        @media #{$lg} {
          font-size: 80px;
          font-size: 7vw;
          line-height: 7vw;
        }
        @media #{$sm} {
          font-size: 51px;
          line-height: 56px;
        }
      }
      .line {
        display: block;
        width: 217px;
        background-color: $main3;
        height: 5px;
      }
      p {
        font-family: 'URW DIN light';
        margin-top: 55px;
        font-size: 41px;
        font-size: 2vw;
        letter-spacing: 1px;
        color: #fff;
        @media #{$xlg} {
          font-size: 31px;
          font-size: 2.5vw;
          line-height: 3.5vw;
        }
        @media #{$sm} {
          font-size: 31px !important;
          line-height: 36px;
        }
        span {
          color: $main3;
          font-family: 'URW DIN regular';
          font-weight: bold;
        }
      }
    }
  }

  .ani {
    transform: translateX(-100%);
    transition: all 1s;
    opacity: 0;
  }
  .ani.run {
    transform: translateX(0%);
    transition: all 0.3s;
    opacity: 1;
  }
  .bg-slider {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: -130px;
    height: 130vh;
    object-fit: cover;
  }
 
}



@media only screen and (max-height: 840px){
.tringle{
  height: 100%;
  width: initial;
}
}