section.slider {
  overflow: hidden;
  height: 110vh;
  min-height: 750px;
  background-color: #004e9d;
  background-position: center 130%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  @media #{$lg} {
    background-size: cover !important;
  }
  @media #{$sm} {
    height: 70vh;
    background-position: 58% center;
  }
  .content-wraper {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    padding-left: 60px;
    @media #{$sm} {
      padding-left: 30px;
    }
    @media #{$xs} {
      padding-left: 0;
    }
    .content {
      // // width: 50%;
      // @media #{$sm} {
      //   width: 100%;
      // }
      h1 {
        font-size: 80px;
        font-size: 5.2vw;
        line-height: 81px;
        line-height: 5vw;
        color: #fff;
        margin: 0;
        padding: 0;
        margin-bottom: 25px;
        @media #{$lg} {
          font-size: 80px;
          font-size: 7vw;
          line-height: 7vw;
        }
        @media #{$sm} {
          font-size: 51px;
          line-height: 56px;
        }
      }
      .line {
        display: block;
        width: 200px;
        background-color: $main3;
        height: 5px;
      }
      p {
        font-family: 'URW DIN light';

        font-size: 41px;
        font-size: 2vw;
        color: #fff;
        @media #{$xlg} {
          font-size: 31px;
          font-size: 2.5vw;
          line-height: 3.5vw;
        }
        @media #{$sm} {
          font-size: 31px !important;
          line-height: 36px;
        }
        span {
          color: $main3;
        }
      }
    }
  }

  .ani {
    transform: translateX(-100%);
    transition: all 1s;
    opacity: 0;
  }
  .ani.run {
    transform: translateX(0%);
    transition: all 0.3s;
    opacity: 1;
  }
  .bg-slider {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: -130px;
    height: 130vh;
    object-fit: cover;
  }
 
}
