a {
  color: $main;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
p {
  font-size: 16px;
  // color:#fff;
}
.text-center {
  text-align: center;
}
.error404 {
  h1 {
    font-size: 120px !important;
  }
}

#error {
  padding: 0 0 50px 0;
}
