a {
  color: $main;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
p {
  font-size: 18px;
  // color:#fff;
  // font-size: 25px;
  // letter-spacing: 2px;
  @media #{$sm} {
    font-size: 16px !important;
  }
}
.text-center {
  text-align: center;
}
.error404 {
  h1 {
    font-size: 120px !important;
  }
}

#error {
  padding: 0 0 50px 0;
}

.title-section {
  display: inline-block;
  margin-bottom: 50px;
  @media #{$sm} {
    margin-bottom: 30px;
  }
  .title {
    font-size: 75px;
    color: $main2;
    margin: 0;
    padding: 0;
    position: relative;
    @media #{$sm} {
      font-size: 41px;
    }
    &:after {
      content: "";
      background-image: url(../img/arrow.png);
      background-size: contain;
      display: block;
      width: 38px;
      height: 21px;
      position: absolute;
      top: 45%;
      right: -100px;
      animation: MoveUpDown 3.5s linear infinite;
      @media #{$sm} {
        width: 23px;
        height: 13px;
        position: absolute;
        top: 45%;
        right: -40px;
      }
    }
  }
}
