@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url("../fonts/FuturaPT-Demi.woff2") format("woff2"), url("../fonts/FuturaPT-Demi.woff") format("woff"), url("../fonts/FuturaPT-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Heavy.woff2") format("woff2"), url("../fonts/FuturaPT-Heavy.woff") format("woff"), url("../fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

a {
  color: #004e9d;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Futura PT';
  font-weight: 500;
  overflow-x: hidden;
}

.container {
  width: calc(100% - 10%);
  padding: 0 60px;
  margin: 0 auto;
}

@media only screen and (max-width: 998px) {
  .container {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: calc(100% - 30px);
    padding: 0;
  }
}

#header {
  padding: 36px 0;
}

@media only screen and (max-width: 768px) {
  #header {
    padding: 10px 0;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-brand {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.navbar .header-nav {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media only screen and (max-width: 768px) {
  .navbar .header-nav {
    position: fixed;
    z-index: 2;
    top: 0px;
    left: -120%;
    width: 86%;
    height: 100vh;
    background: #004e9d;
    left: -120%;
  }
}

.navbar .header-nav ul {
  padding: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .navbar .header-nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  .navbar .header-nav ul li {
    width: 100%;
  }
}

.navbar .header-nav ul li a {
  padding: 25px;
  display: block;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

@media only screen and (max-width: 998px) {
  .navbar .header-nav ul li a {
    padding: 10px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar .header-nav ul li a {
    display: block;
    font-size: 21px;
    color: #fff;
    padding: 15px 15px;
  }
}

.navbar .header-nav.active {
  left: 0px;
}

.toggler-nav {
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 768px) {
  .toggler-nav {
    display: block;
  }
}

.toggler-nav span {
  background-color: #004e9d;
  display: block;
  width: 28px;
  height: 4px;
  margin-bottom: 7px;
  border-radius: 2px;
  position: relative;
  top: 0;
  -webkit-transition: top 0.3s 0.3s, -webkit-transform 0.3s 0s;
  transition: top 0.3s 0.3s, -webkit-transform 0.3s 0s;
  transition: top 0.3s 0.3s, transform 0.3s 0s;
  transition: top 0.3s 0.3s, transform 0.3s 0s, -webkit-transform 0.3s 0s;
}

.toggler-nav.active span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: top 0.3s 0s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s 0s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s 0s, transform 0.3s 0.3s;
  transition: top 0.3s 0s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.toggler-nav.active span:nth-child(2) {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.toggler-nav.active span:nth-child(3) {
  top: -11px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 0.3s 0s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s 0s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s 0s, transform 0.3s 0.3s;
  transition: top 0.3s 0s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.title-page-wraper {
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  margin-bottom: 50px;
  margin-top: 0;
  padding: 30px 0;
  position: relative;
  background-color: aliceblue;
}

.title-page-wraper .title-page {
  margin: 0;
  padding: 0px;
  font-size: 45px;
  font-weight: 900;
  color: #7a6dc7;
}
/*# sourceMappingURL=icx-main.css.map */